@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box; /* paddingやborderをwidth内に含める */
  margin: 0; /* ブラウザのデフォルト余白をリセット */
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10pxにする */
}

ul, ol {
  list-style: none; /* ulのデフォルトの点を消す */
}

a {
  text-decoration: none; /* aタグの下線を消す */
  color: inherit;
}

img {
  max-width: 100%; /* 画像がはみ出さないようにする */
  height: auto;
  display: block; /* imgの下の謎の隙間をなくす*/
}

input, button, textarea, select {
  font: inherit;
}

body {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

.top_wraper {
  height: 70rem;
  width: 100%;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  padding: 4rem 14rem 0 14rem;
}

.title-log {
  height: 11rem;
  width: 23rem;
}

.menu_lists {
  display: flex;
  gap: 5rem;
  position: fixed;
  top: 5.5rem;
  right: 14.3rem;
  z-index: 1000;
}

.menu_list {
  color: #202925 !important;
  font-size: 2.4rem;
}
.menu_list:hover {
  border-bottom: 0.1rem solid #707070;
}

footer {
  background-color: #202925;
  width: 100%;
  height: 52.6rem;
  position: relative;
}

.footer-logo {
  width: 22rem;
  height: 10.5rem;
  position: absolute;
  top: 4rem;
  left: 40rem;
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15.4rem;
  height: 100%;
  padding-bottom: 10rem;
}

.footer-table {
  border-collapse: collapse;
}
.footer-table th, .footer-table td {
  text-align: left;
  vertical-align: top;
  padding-bottom: 2rem; /* ★各行の隙間（20px分） */
  color: #E3E3E3; /* 文字色を一括指定 */
}
.footer-table th {
  font-weight: 400;
}

.footer-table tr:last-child th,
.footer-table tr:last-child td {
  padding-bottom: 0;
}

.pad_70 th {
  padding-right: 7rem;
}

.pad_38 th {
  padding-right: 3.8rem;
}

.pad_54 th {
  padding-right: 5.4rem;
}

#section {
  text-align: center;
}

.section_title {
  position: relative;
  text-align: center;
  padding: 1rem;
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
}
.section_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #91855F;
}
.section_title::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 100%;
  height: 100%;
  border: 1px solid #91855F;
}

.btn {
  padding: 0.9rem 3.6rem;
  line-height: 1.4375;
  background: linear-gradient(to right, #91855F, #494330);
  width: 12rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 2rem;
  color: #E3E3E3;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.concept {
  background-image: linear-gradient(rgba(226, 226, 226, 0.5), rgba(226, 226, 226, 0.5)), url(../img/image-from-rawpixel-id-5979119-original.png);
  background-size: cover;
}

.pickup {
  background-image: linear-gradient(rgba(145, 133, 95, 0.5), rgba(145, 133, 95, 0.5)), url(../img/image-from-rawpixel-id-5979119-original.png);
  background-size: cover;
}

.owner {
  background-image: linear-gradient(rgba(226, 226, 226, 0.5), rgba(226, 226, 226, 0.5)), url(../img/image-from-rawpixel-id-5979119-original.png);
  background-size: cover;
}

.text-inner {
  width: 64rem;
  height: 34rem;
  background: #202925;
  color: #E2E2E2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 7.5rem 6rem;
}
.text-inner_title {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  font-weight: 400;
}
.text-inner p {
  line-height: 2.25;
  text-align: left;
}
.text-inner p .mobile {
  display: none;
}

.main-img {
  background-image: url(../img/img_mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 70rem;
}

.concept {
  height: 64.2rem;
  width: 100%;
}
.concept_title {
  margin: 8rem 0 4rem;
}
.concept-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34rem;
}
.concept_img {
  width: 34rem;
  height: 34rem;
  background-size: cover;
}
.concept-text {
  margin-left: 5rem;
}

.dish {
  height: 79.6rem;
}
.dish_title {
  margin: 10rem 0 4rem;
}
.dish-inner {
  height: 39.3rem;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 4rem;
}
.dish-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.dish-text_title {
  font-size: 2.4rem;
  line-height: 10rem;
  writing-mode: vertical-rl;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 1rem;
}
.dish-text p {
  line-height: 2.25;
  background-color: #202925;
  color: #E3E3E3;
  padding: 2rem;
  margin-top: auto;
  margin-bottom: 0;
}

.pickup {
  height: auto;
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pickup_title {
  margin-top: 10rem;
  margin-bottom: 4rem;
}
.pickup-inner {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.pickup_img {
  height: 32rem;
  width: 44rem;
  position: relative;
  object-fit: cover;
  z-index: 2;
  margin-right: -5rem;
}
.pickup-text {
  position: relative;
  z-index: 1;
  margin-top: 10.4rem;
}
.pickup-text_title {
  text-align: left;
}

.owner {
  height: 80.1rem;
}
.owner_title {
  margin: 10rem 0 4rem;
}
.owner-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owner-text {
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.owner-text_title {
  font-size: 8rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.4375;
}
.owner p {
  line-height: 2.25;
  background-color: #202925;
  padding: 4rem 7.5rem;
  margin-right: 2rem;
  color: #E3E3E3;
  text-align: left;
}
.owner_img {
  width: 37rem;
  height: 45rem;
  object-fit: cover;
}

.infor {
  margin-top: 10rem;
}

.infor-inner {
  margin: 4rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infor-inner .infor-item {
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  margin-right: 4rem;
}
.infor-inner .infor-item:last-child {
  margin-right: 0;
}

.news {
  width: 100%;
}
.news_title {
  margin: 10rem 0 4rem;
}
.news-container {
  margin-bottom: 10rem;
  width: 80rem;
  margin: 0 auto;
}
.news-item {
  border: 0.1rem solid #707070;
  width: 100%;
  margin-bottom: 2rem;
}
.news-item:last-child {
  margin-bottom: 10rem;
}
.news-item_header {
  background-color: #91855F;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.news-item_header.open .news-item_day::before {
  transform: rotate(90deg);
}
.news-item_day {
  line-height: 1.5;
  margin-right: 3rem;
}
.news-item_day::before {
  content: "▶";
  margin-right: 1.2rem;
  margin-left: 4rem;
  display: inline-block; /* 回転させるために必要 */
  transition: transform 0.3s ease;
}
.news-item_text[style*="display: block"] {
  display: flex !important;
}
.news-item_text {
  width: 100%;
  height: 21.1rem;
  justify-content: center;
  align-items: center;
  display: none;
}
.news-item p {
  text-align: left;
  line-height: 2.25;
  color: #202925;
}

.font_color {
  color: #E3E3E3;
  font-weight: 400;
  font-size: 2.4rem;
}

@media screen and (max-width: 376px) {
  body {
    overflow-x: hidden; /* 横方向のはみ出しを隠す */
  }
  /* ーーーーーートップページーーーーーーーーーー */
  .main-img {
    height: 62rem;
    background-position: 45% center;
    background-size: cover;
    width: 100vw;
  }
  .header_inner {
    padding: 1.5rem 2rem 0 1.5rem;
    position: relative;
  }
  .title-log {
    width: 10.5rem;
    height: 5rem;
  }
  .menu_lists {
    display: none;
  }
  .hamburger-fix-wrapper {
    position: fixed; /* ★画面に固定する役割 */
    top: 1.5rem;
    right: 2rem; /* なぜか表示されない */
    z-index: 1000;
  }
  .hamburger {
    display: block;
    width: 5rem;
    height: 5rem;
    transition: transform 0.5s ease 0s;
    z-index: 999;
    cursor: pointer;
    background-color: #202925;
    border-radius: 50%;
    position: relative;
  }
  .hamburger_bar {
    width: 2.5rem;
    height: 0.2rem;
    background: #E3E3E3;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    border-radius: 0.2rem;
  }
  .hamburger_bar:nth-of-type(1) {
    top: 30%;
  }
  .hamburger_bar:nth-of-type(2) {
    top: 50%;
  }
  .hamburger_bar:nth-of-type(3) {
    top: 70%;
  }
  /* ーーーーーーセクションタイトルーーーーーーーーー */
  /* ーーーーーconceptエリアーーーーーーーーーーー */
}

/*# sourceMappingURL=style.css.map */
