.concept {
    background-image:
    linear-gradient(rgba(#E2E2E2, 0.5), rgba(#E2E2E2, 0.5)),
    url(../img/image-from-rawpixel-id-5979119-original.png);
    background-size: cover;
}

.pickup {
    background-image:
    linear-gradient(rgba(#91855F, 0.5), rgba(#91855F, 0.5)),
    url(../img/image-from-rawpixel-id-5979119-original.png);
    background-size: cover;
}