.btn {
    padding: 0.9rem 3.6rem;
    line-height: calc(23 / 16);
    background:linear-gradient(to right, #91855F, #494330);
    width: 12rem;
    height: 4rem;
    margin: 0 auto;
    border-radius: 2rem;
    color: #E3E3E3;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
        transition: 0.3s;
    }
}