@use "../global/setting" as *;

.top_wraper {
    height: 70rem;
    width: 100%;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding: 4rem 14rem 0 14rem;
}

.title-log {
    height: 11rem;
    width: 23rem;
}

.menu_lists {
    display: flex;
    gap: 5rem;
    position: fixed;
    top: calc(11rem / 2);
    right: 14.3rem;
    z-index: 1000;
}

.menu_list {
    color: $color1 !important;
    font-size: 2.4rem;

    &:hover {
        border-bottom: 0.1rem solid $color4;
    }
}
