@use "../global/setting" as *;

@media screen and (max-width: 376px) {
body {
    overflow-x: hidden; /* 横方向のはみ出しを隠す */
}
.main-img {
    height: 62rem;
    width: 100%;
}

.title-log {
    width: 10.5rem;
    height: 5rem;
}

.menu_lists {
    display: none;
}

.hamburger {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    transition: transform 0.5s ease 0s;
    z-index: 999;
    cursor: pointer;
    background-color: $color1;
    border-radius: 50%;
}

.hamburger_bar {
    width: 2rem;
    background: white;
    transition: 0.3s;
    transform: translate(-50%, -50%);
}

.hamburger_bar:nth-of-type(1) {
    top: 20%;
}

.hamburger_bar:nth-of-type(2) {
    top: 50%;
}   

.hamburger_bar:nth-of-type(3) {
    top: 80%;
}
}