*, *::before, *::after {
  box-sizing: border-box;  /* paddingやborderをwidth内に含める */
  margin: 0;              /* ブラウザのデフォルト余白をリセット */
  padding: 0;
}

html {
  font-size: 62.5%;  /* 1rem = 10pxにする */
}


ul, ol {
  list-style: none;   /* ulのデフォルトの点を消す */
}

a {
  text-decoration: none;   /* aタグの下線を消す */
  color: inherit;
}

img {
  max-width: 100%;      /* 画像がはみ出さないようにする */
  height: auto;
  display: block;     /* imgの下の謎の隙間をなくす*/
}

input, button, textarea, select {
  font: inherit;
}