.concept {
    height: 64.2rem;
    width: 100%;

    &_title {
        margin: 8rem 0 4rem;
}


    &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34rem;
    }

    &_img {
        width: 34rem;
        height: 34rem;
        background-size: cover;
    }

    &-text {
        margin-left: 5rem;
    }

}
