.concept {
    height: 64.2rem;

    &_title {
        margin: 8rem 0 4rem;
}


    &-inner {
        display: flex;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto; // 中央寄せ
    }

    &-text {
        margin-left: 5rem;
    }

}
