.pickup {
    height: auto;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &_title {
        margin-top: 10rem;
        margin-bottom: 4rem;
    }


    &-inner {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
}


    &_img {
        height: 32rem;
        width: 44rem;
        position: relative;
        object-fit: cover;
        z-index: 2;
        margin-right: -5rem;
    }

    &-text {
        position: relative;
        z-index: 1;
        margin-top: 10.4rem;

        &_title {
            text-align: left;
        }
    }
}

